# Use root/example as user/password credentials
version: "3.1"

services:
  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: mongo4all

  grpc-service:
    build: ./GrpcService1
    restart: always
    depends_on: 
     - mongo
    ports:
     - 8081:80
    links:
      - "mongo:database"

  web-api:
    build: ./WebAPIService
    restart: always
    depends_on: 
      - grpc-service
    links:
      - "grpc-service:backend"
    ports: 
      - 8080:80
      - 444:443
      - 49163:49163